version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-network

  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/tutorials
    depends_on:
      - mongo
    networks:
      - mean-network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - mean-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mean-network

volumes:
  mongo_data:

networks:
  mean-network:
    driver: bridge